[Desktop Entry]
Name=Spring Tool Suite 4
Exec=/opt/sts-4.20.0.RELEASE/SpringToolSuite4 %u
NoDisplay=true
Type=Application
MimeType=x-scheme-handler/eclipse+command;x-scheme-handler/eclipse+mpc;