[Desktop Entry]
Version=1.0
Name=brModelo
Exec=/usr/bin/java -jar /opt/brmodelo/brmodelo.jar
Icon=/opt/brmodelo/icon.png
Type=Application
Categories=Application
