[Desktop Entry]
Version=1.0
Name=brModelo
Exec=java -jar /home/alunoinfo/brModelo.jar
Icon=/home/alunoinfo/brModelo.png
Type=Application
Categories=Application
