[Desktop Entry]
Type=Application
Exec=sh -c "dconf reset -f / && dconf write /org/gnome/desktop/input-sources/sources \"[('xkb', 'br')]\" && dconf write /org/gnome/shell/favorite-apps \"['firefox_firefox.desktop', 'eclipse-jee.desktop', 'org.gnome.Nautilus.desktop']\" && amixer -D pulse sset Master 0%"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=dconf
Name=dconf
Comment[en_US]=oi kimberly
Comment=oi kimberly
