[Desktop Entry]
Version=1.0
Name=Spring Tool Suite 4
Exec=/opt/sts-4.20.0.RELEASE/SpringToolSuite4
Icon=/opt/sts-4.20.0.RELEASE/icon.xpm
Type=Application
Categories=Application
